<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static Sidebar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li>
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="34" height="34" fill="#CFD4ED" />
          </svg>
        </li>
        <li class="dashboard-icon">
          <svg width="27" height="27" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path d="M9 22V12H15V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </li>
        <li class="dashboard-p text-light pt-1"><p>Dashboard</p></li>
        <li class="cars-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.5 21C19.8807 21 21 19.8807 21 18.5C21 17.1193 19.8807 16 18.5 16C17.1193 16 16 17.1193 16 18.5C16 19.8807 17.1193 21 18.5 21Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M5.5 21C6.88071 21 8 19.8807 8 18.5C8 17.1193 6.88071 16 5.5 16C4.11929 16 3 17.1193 3 18.5C3 19.8807 4.11929 21 5.5 21Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 8H20L23 11V16H16V8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 3H1V16H16V3Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </li>
        <li class="cars-p pt-1 text-light"><p>Cars</p></li>
      </ul>
    </div>

    <div class="second-sidebar">
      <div>
        <svg width="100" height="34" viewBox="0 0 100 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100" height="34" fill="#CFD4ED" />
        </svg>
        <p class="mt-5 pt-4">CARS</p>
        <p>List Cars</p>
      </div>
    </div>
    <% if (typeof message !== 'undefined' && message.length > 0) { %>
    <div id="successMessage" class="alert alert-success" role="alert"><%= message %></div>
    <% } %> <% if (typeof messageRemoved !== 'undefined' && messageRemoved.length > 0) { %>
    <div id="successMessage" class="alert alert-dark" role="alert"><%= messageRemoved %></div>
    <% } %>

    <!-- Konten utama -->

    <div class="container py-3" style="margin-left: 290px; background-color: white">
      <div class="d-inline-flex">
        <h4>Header</h4>
      </div>
    </div>

    <div class="container" style="background-color: f4f5f7">
      <div class="row">
        <div class="col">
          <div class="cars-div">
            <p>
              Cars
              <span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 12L10 8L6 4" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              List Cars
            </p>
          </div>
        </div>
      </div>
      <div class="row list-cars">
        <div class="col">
          <h3>List cars</h3>
        </div>
        <div class="row">
          <a href="/cars/create"> <button>Add New Cars</button></a>
        </div>
      </div>
      <div class="row">
        <div class="list-filter col">
          <a href="/cars"><button>All</button></a>
          <a href="/cars/small"><button>Small</button></a>
          <a href="/cars/medium"><button>Medium</button></a>
          <a href="/cars/large"><button>Large</button></a>
        </div>
      </div>
      <div class="row row-cols-4">
        <% cars.forEach(car => { %>
        <div class="col" style="margin-right: 80px; margin-top: 25px">
          <div class="card">
            <img src="<%= car.photo %>" class="card-img-top" alt="..." width="303px" height="222px" />
            <div class="card-body">
              <p class="card-title"><%= car.name %> / <%= car.size %></p>
              <p class="card-text">Rp.<%= car.price %> / Hari</p>
              <p class="card-updated">
                <span
                  ><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.99996 18.3333C14.6023 18.3333 18.3333 14.6024 18.3333 10C18.3333 5.39762 14.6023 1.66666 9.99996 1.66666C5.39759 1.66666 1.66663 5.39762 1.66663 10C1.66663 14.6024 5.39759 18.3333 9.99996 18.3333Z"
                      stroke="#8A8A8A"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path d="M10 5V10L13.3333 11.6667" stroke="#8A8A8A" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
                Update at <%= new Date(car.updatedAt).toLocaleString('en-US', { weekday: 'short', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', }) %>
              </p>
              <div class="card-button d-inline-flex g-3">
                <button class="delete" data-toggle="modal" data-target="#deleteModal<%= car.id %>">
                  <span
                    ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.5 4.5H4H16" stroke="#FA2C5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M6.25 4.5V3C6.25 2.60218 6.40804 2.22064 6.68934 1.93934C6.97064 1.65804 7.35218 1.5 7.75 1.5H10.75C11.1478 1.5 11.5294 1.65804 11.8107 1.93934C12.092 2.22064 12.25 2.60218 12.25 3V4.5M14.5 4.5V15C14.5 15.3978 14.342 15.7794 14.0607 16.0607C13.7794 16.342 13.3978 16.5 13 16.5H5.5C5.10218 16.5 4.72064 16.342 4.43934 16.0607C4.15804 15.7794 4 15.3978 4 15V4.5H14.5Z"
                        stroke="#FA2C5A"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path d="M10.75 8.25V12.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M7.75 8.25V12.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg> </span
                  >Delete
                </button>
                <a href="/cars/edit/<%= car.id %>"
                  ><button class="edit">
                    <span
                      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_51905_454)">
                          <path
                            d="M9 3H3.75C3.35218 3 2.97064 3.15804 2.68934 3.43934C2.40804 3.72064 2.25 4.10218 2.25 4.5V15C2.25 15.3978 2.40804 15.7794 2.68934 16.0607C2.97064 16.342 3.35218 16.5 3.75 16.5H14.25C14.6478 16.5 15.0294 16.342 15.3107 16.0607C15.592 15.7794 15.75 15.3978 15.75 15V9.75"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M14.625 1.87499C14.9234 1.57662 15.328 1.409 15.75 1.409C16.172 1.409 16.5766 1.57662 16.875 1.87499C17.1734 2.17336 17.341 2.57803 17.341 2.99999C17.341 3.42194 17.1734 3.82662 16.875 4.12499L9.75 11.25L6.75 12L7.5 8.99999L14.625 1.87499Z"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_51905_454">
                            <rect width="18" height="18" fill="white" transform="translate(0.75)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    Edit
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal<%= car.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel<%= car.id %>" aria-hidden="true" style="margin-left: 40%">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel<%= car.id %>">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">Are you sure you want to delete this item?</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="/cars/admin/delete/<%=car.id%>" method="POST">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <% }); %>
      </div>
    </div>

    <!-- Bootstrap JS (opsional) -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const successMessage = document.getElementById("successMessage");

        if (successMessage) {
          setTimeout(function () {
            successMessage.style.display = "none";
          }, 3000);
        }
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
